@font-face {
    font-family: 'PORanunn';
    src: url('/pythonProject/font/PORanunn.ttf') format('truetype');
}
* {
    font-family: 'PORanunn';
}
.logo {
    margin: 20px; 0px;
    padding: 20px; 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo > span {
    margin: 20px; 0px;
    padding: 20px; 20px; 20px;
    border-radius: 50px;
}

.card-container {
    padding: 40px;
}

.img-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0; auto;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card-body {
    height: 30%;
}

footer div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}